.loginPage {
    width: 550px;
    height: 350px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px auto
}

.loginPage h1 {
    font-size: 40px;
    margin-top: -50px;
}

.loginPage button {
    border: 0;
    padding: 6px 55px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 600;
    background-color: rgb(117, 191, 214);
    cursor: pointer;
    color: #fff
}

.loginPage button:hover {
    background-color: rgb(54, 136, 164);
    color: #fff;
    transition: all 0.15s;
}

.logInWith img {
    width: 32px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .loginPage {
        width: 300px;
        
    }
}