.profile {
    flex: 0.6;
}

.user-profile {
    display: flex;
    align-items: center;
    margin: 50px;
}

.user-profile img{
    border-radius: 180px;
    cursor: pointer;
}

.user-profile img:hover {
    border-radius: 0;
    transition: all 0.25s;
}

.user-profile-info {
    margin-left: 30px;
}

.user-profile-info h3 {
    opacity: 0.85;
}